html(ng-app='app')
  head
    title CSV Merge Tool
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width', initial-scale='1.0')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    .container
      block content
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-route.min.js')
    script(src='js/app.js')
    script(src='js/controllers/homeController.js')
    script(src='js/directives/dropZoneDirective.js')
    block scripts